<div class="user-certification-hexagon-score">
  <div class="user-certification-hexagon-score__content">
    <p class="user-certification-hexagon-score__content-title">{{t "certificate.hexagon.pix"}}</p>
    <p class="user-certification-hexagon-score__content-pix-score">{{@score}}</p>
    <p class="user-certification-hexagon-score__content-certified">{{t "certificate.hexagon.certified"}}</p>
  </div>
</div>
