.link-back {

  font-size: 0.813rem;
  font-weight: $font-semi-bold;
  letter-spacing: 0.019rem;
  display: inline-flex;
  align-items: center;

  .icon-button {
    margin-right: 8px;
  }

  &--white {
    color: $white;

    .icon-button {
      color:$white;
    }
  }

  &--black {
    color: $grey-200;

    &:hover {
      color: $grey-200;
    }
  }

  &:hover {
    text-decoration: none;

    .icon-button {
      background-color: $grey-20;
    }
  }
}